{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script src="https://unpkg.com/htmx.org@1.6.0/dist/htmx.js"></script>


<style>
    .dropdown-item{
        color: rgb(157, 157, 157);
    }
    .dropdown-item:hover{
        color: white;
    }
    .ts_sm{
        text-shadow: 3px 3px 3px black;
    }
    .ts_sm_sm{
        text-shadow: 2px 2px 2px black;
    }
    .ts_sm_sm_sm{
        text-shadow: 1px 1px 1px black;
    }
    .ts_sm_sm_blue{
        text-shadow: 2px 2px 2px rgb(0, 14, 92);
    }
    .bs_sm{
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.075);
    }
    .bs_bg{
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.404);
    }
    .customize_btn{
        color: rgb(135, 135, 255);
        cursor: pointer;
        transition: all 0.1s linear;    
    }
    .customize_btn:hover{
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: all 0.1s linear;
    }
    .text_hover1:hover{
        color: white;
    }
    .text_hover1{
        color: gray;
    }
    .sched_btn{
        text-shadow: 1px 1px 1px black;
    }
    .sched_btn:hover{
        text-shadow: inherit;
    }
    @media print{
        table{
            page-break-after: always;
            page-break-before: always;
        }
        table { page-break-after:auto }
        tr    { page-break-inside:avoid; page-break-after:auto }
        td    { page-break-inside:avoid; page-break-after:auto }
        thead { display:table-header-group }
        tfoot { display:table-footer-group }
        body,html{
            color: black;
            background: white;
        }
        .bs_bg,.rem_ts_bs,.ts_sm,.ts_sm_sm{
            box-shadow: none;
            color: black;
            text-shadow: none;
        }
        .visiblity_hide,nav,.navbar-nav-right,.navbar,.cls-btn{
            display: none;
            text-shadow: none;
        }
        .bg-dark,th.td{
            background-color: white;
            color: black;
        }
        .print_text{
            color: black;
        }
        table{
            border: 1px solid black;
            width: 100%;
            page-break-inside: auto;
        }
    }
</style>

<div class="position-relative">
    <div class="position-absolute">
        <div id="my_calendar_target"></div>
    </div>
</div>

<div class="p-3 card bs_bg" style="background-color:rgba(255, 255, 255, 0.055);border-radius:5px;border: 1px solid rgba(255, 255, 255, 0.315);backdrop-filter: blur(10px);">
    <p></p>
    <div class="position-relative cls-btn">
        <div style="margin-bottom: -1rem;margin-right: -0.95rem;" class="position-absolute end-0 bottom-100">
            <div class="col-sm-12 col-xl-1">
                <a href="{% url 'report_inventory_view' %}"><h1 class="bi bi-x ts_sm_sm text_hover1"></h1></a>
            </div>
        </div>
    </div>
    <p></p>
    <div class="row visiblity_hide">
        <div class="col-sm-12 col-xl-2 ">
            <div class="position-relative">
                <div class="position-absolute start-0 top-0" style="margin-top: 0.3rem;margin-left: 0.5rem;">
                    <span class="bi bi-calendar2-date" ></span>
                </div>
            </div>
            
            <select class="btn btn-outline-light w-100 text-start bs_sm bg-dark text-light ps-4" name="select_"
            hx-get ="{% url 'get_date' %}"
            hx-target="#date_here_"
            hx-trigger="change"
            >
                <option value="Today"><a href="">Today</a></option>
                <option value="This Week"><a href="">This Week</a></option>
                <option value="This Month"><a href="">This Month</a></option>
                <option value="This Quarter"><a href="">This Quarter</a></option>
                <option value="This Year"><a href="">This Year</a></option>
                <option value="Yesterday"><a href="">Yesterday</a></option>
                <option value="Previous Week"><a href="">Previous Week</a></option>
                <option value="Previous Month"><a href="">Previous Month</a></option>
                <option value="Previous Quarter"><a href="">Previous Quarter</a></option>
                <option value="Previous Year"><a href="">Previous Year</a></option>
                <option value="Custom"><a type="button" onclick="alert_fn()">Custom</a></option>
            </select>
        </div>
        <div class="col-sm-12 col-xl-2 p-1 ">
            <span class="bi bi-gear-fill ts_sm_sm_blue customize_btn"> <a href="{% url 'tax_summary_customize_general' %}" class="customize_btn text-decoration-none ts_sm_sm_blue">Customize Report</a></span>
        </div>
        <div class="col-sm-12 col-xl-4 ">
            
        </div>
        <div class="col-sm-12 col-xl-2 ">
            <button class="btn btn-outline-primary bg-gradient p-2 bs_sm sched_btn"><span class="bi bi-clock sched_btn"></span> Scheduled Report</button>
        </div>
        <div class="col-sm-12 col-xl-1">
            <div class="d-flex">
                <button id="print_btn" class="btn btn-outline-light ps-3 pe-3 pt-2 pb-2 bs_sm"><span class="bi bi-printer"></span> </button>
                <button class="dropdown-toggle btn btn-outline-light  p-2 bs_sm"></button>
            </div>
        </div>
        <div class="col-sm-12 col-xl-1 ">
            <button class="btn btn-outline-light p-2 dropdown-toggle bs_sm" data-bs-toggle="dropdown">Export As</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'generate_pdf1' %}">Export to pdf</a></li>
                <li><a class="dropdown-item" type="button" onclick="exportToExcel()">Export to Excell</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div id="printable_content">
        <br>
        <div class="text-center">
            <h3 class="fw-light ts_sm print_text">ZOHO BOOKS</h4>
            <h2 class="fw- ts_sm">Tax Summary</h1>
            <small class="fw- ts_sm_sm">Basic : Accural</small>
            <!-- <h5 class="ts_sm_sm pt-1">( {{ todays_date }} - {{ todays_date }} )</h5> -->
            <div id="date_here_"></div>
        </div>
    <br>
        <div class="over" style="overflow: hidden;">
            <div class="over" style="overflow-x: scroll;">
                <table style="width:100%" class="table table-striped table-hover table-dark">
                    <thead>
                        <th class="text-light fw-bold print__text">TAX NAME</th>
                        <th class="text-light fw-bold print__text">TAX PERCENTAGE %</th>
                        <th class="text-light fw-bold print__text">TAXABLE AMOUNT</th>
                        <th class="text-light fw-bold print__text">TAXAMOUNT</th>
                    </thead>
                    <tbody>
                        {% for i in customer %}
                            <tr>
                                <td>---------</td>
                                <td>{{ i.user.first_name|upper }} {{ i.user.last_name|upper }}</td>
                                <td>-----</td>
                                <td>---------</td>
                                <td>---------</td>
                                <td>------</td>
                                <td>--------</td>
                                <td>----</td>
                                <td>------</td>
                                <td>----</td>
                                <td>------</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function alert_fn(){
        alert('graaaaaaaaaaaaaaaaaaaa.........')
    }
    $(document).ready(function(){
        $('#print_btn').click(function(){
            $('#paynum_').text('PAY-NUM')
            $('#name_').text('FULL NAME')
            $('#date_').text('DATE')
            $('#refnum_').text('REF-NUM')
            $('#paymod_').text('PAY-MOD')
            $('#note_').text('NOTE')
            $('#invc_').text('INVOICE')
            $('#fcy_').text('FCY')
            $('#ufcy_').text('U-FCY')
            $('#bcy_').text('BCY')
            $('#ubcy_').text('U-BCY')
            $('.over').css({'overflow':'hidden'})
            $('body').css({'color':'black'})
            $('html').css({'color':'black','font-size': '11px'})
            $('.table').removeClass('table-striped table-hover table-dark')
            $('.table').addClass('table-bordered border-dark bg-light')
            $('.print__text').removeClass('text-light')
            $('.print__text').addClass('text-dark')
            var pc = $('#printable_content').html()
            var backup = document.body.innerHTML
            document.body.innerHTML = pc
            window.print()
            document.body.innerHTML = backup
            window.location.href = ''
        })
    })
    function exportToExcel() {
        var table = document.querySelector('table');
        var ws = XLSX.utils.table_to_sheet(table);
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
        XLSX.writeFile(wb, 'report.xlsx');
    }

</script>

{% endblock %}